*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}
body{
        background-color: rgb(255, 255, 255);
        font-family: 'Raleway', sans-serif;  
}
button{
        font-family: 'Raleway', sans-serif; 
}

.App{

z-index: 1;
min-height: 100%;
display: flex;
flex-direction: column;
justify-content: end;

.Wrapper{
        background-color: rgba(134, 61, 251, 0.358);    
}
}

.Primary_Container{
        width: 70%;
        margin: 0 auto;
        min-height: 600px;
        background-color: #a4c7f5;   
        margin-top: 50px;
        border-radius: 15px;
        padding: 15px 0px;
        overflow: auto;
}     
.Lists_Container{
        height: calc(100vh - 120px);
        overflow-y: auto;
        width: 80%;  
        margin-top: 20px; 
}  

.Lists_Container::-webkit-scrollbar {
                width: 15px;
              }
              
.Lists_Container::-webkit-scrollbar-track {
                background: #f5c9f9;
                border-radius: 20px;
              }
              
.Lists_Container::-webkit-scrollbar-thumb {
                background-color: rgba(117, 32, 255, 0.7);
                border-radius: 20px;
                border: 3px solid rgba(117, 32, 255, 0.7);
              }     
.Btn_AddList{
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;
        font-size: medium;
        background: none; 
        svg{
                width: 40px;
                fill: rgba(117, 32, 255, 0.7);
                transition: 0.3s;  
        }
        svg:hover{
                width: 45px; 
                transition: 0.3s;     
        }
}

.List_item{
        min-width: 300px;
        min-height: 100px;
        background-color: rgba(236, 231, 245, 0.94);
        box-shadow:
        0 0 5px rgba(117, 32, 255, 0.7),
         0 0 10px rgba(117, 32, 255, 0.7),
         0 0 20px rgba(117, 32, 255, 0.7); 
        border-radius: 5px ;
        padding: 5px;
        display: flex; 
        flex-direction: column; 
        align-items: center;
        justify-content: space-between;
        .ContainerTaskItem{
                padding: 4px;
                border-radius: 7px;
        }
        .List_item_delCount{
                width: 100%;
                height: 20px;
                button{
                        width: 20px;
                        height: 20px;
                        float: right;
                        margin-right: 5px;
                        font-size: 16px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        
                        text-align: center;
                        justify-content: center;
                        color: rgb(81, 79, 79);
                        line-height: 20px;
                }
                button:hover{
                        color: rgb(117, 32, 255); 
                }
        }
        h3{
                padding: 20px;
        }
        button{
                background: none;
                border: none;
                cursor: pointer;
        }
        svg{
                fill: rgba(117, 32, 255, 0.7);
                width: 35px;
                opacity: 0;
                transition: 0.3s;
        }
        svg:hover{
                width: 38px;  
                transition: 0.3s;  
             }
       
}
.List_item:hover{
        svg{
           opacity: 1;    
        }
                
        }
//Form
.Form_Container{
        background-color: rgb(255, 255, 255);
        box-shadow:
        0 0 5px rgba(117, 32, 255, 0.7),
        0 0 20px rgba(117, 32, 255, 0.7),
        0 0 40px rgba(117, 32, 255, 0.7);
        height: 200px;
        width: 300px; 
        border-radius: 15px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        position: absolute;
        top: calc(50% - 200px);
        left: calc(50% - 150px);
        z-index: 1;
        input{
                height: 30px; 
                border-radius: 15px; 
                font-size: large;
                text-align: center;
                border: none; 
                outline: none;
                box-shadow:
                0 0 5px rgba(148, 92, 237, 0.7),
                0 0 7px rgba(148, 92, 237, 0.7),
                0 0 10px rgba(148, 92, 237, 0.7);  
        }
        input:focus{
                box-shadow:
                0 0 5px rgb(113, 31, 245),
                0 0 7px rgb(113, 31, 245),
                0 0 10px rgb(113, 31, 245);
            }
        button{
                background-color: rgba(117, 32, 255, 0.238);
                font-weight: bold;
                text-transform: capitalize;
                font-size: 18px;
                padding: 8px;
                border-radius: 8px;
                border: none;
                cursor: pointer;
                color: rgba(104, 24, 134, 0.7);
                width: 100px;
                transition: 0.5s;
        } 
        button:hover{
                background-color: rgba(117, 32, 255, 0.389);
                transition: 0.5s;
            }  
//       /
       
}

.FormForTasks{
        height: 250px;
        width: 350px;
        display: flex;
        z-index: 1;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        gap: 15px;
        position: absolute;
        top: calc(50% - 200px);
        left: calc(50% - 150px);
        background-color: rgb(255, 255, 255);
        box-shadow:
        0 0 5px rgba(117, 32, 255, 0.7),
        0 0 20px rgba(117, 32, 255, 0.7),
        0 0 40px rgba(117, 32, 255, 0.7);
        border-radius: 15px; 
        input{
                height: 30px; 
                width: 70%;
                border-radius: 15px; 
                font-size: large;
                text-align: center;
                border: none; 
                outline: none;
                box-shadow:
                0 0 5px rgba(148, 92, 237, 0.7),
                0 0 7px rgba(148, 92, 237, 0.7),
                0 0 10px rgba(148, 92, 237, 0.7);        
        }
        input:focus{
                box-shadow:
                0 0 5px rgb(113, 31, 245),
                0 0 7px rgb(113, 31, 245),
                0 0 10px rgb(113, 31, 245);
            }
        select{
                height: 30px; 
                width: 70%;
                border-radius: 15px; 
                font-size: large;
                text-align: center;
                border: none; 
                 outline: none;
                box-shadow:
                0 0 5px rgba(148, 92, 237, 0.7),
                0 0 7px rgba(148, 92, 237, 0.7),
                0 0 10px rgba(148, 92, 237, 0.7);   
        }
        select:focus{
                border: none; 
                outline: none;
                box-shadow:
                0 0 5px rgb(113, 31, 245),
                0 0 7px rgb(113, 31, 245),
                0 0 10px rgb(113, 31, 245);    
        }
        button{
                background-color: rgba(117, 32, 255, 0.238);
                font-weight: bold;
                text-transform: capitalize;
                font-size: 18px;
                padding: 8px;
                border-radius: 8px;
                border: none;
                cursor: pointer;
                color: rgba(104, 24, 134, 0.7);
                width: 100px;
                transition: 0.5s;
        }   
        button:hover{
                background-color: rgba(117, 32, 255, 0.389);
                transition: 0.5s;
        } 
}
.TaskItem{

        box-shadow: 0px 0px 4px 4px rgb(125, 122, 212);
        background-color: #9cc2fadb;
        padding: 5px 0;
        width: 250px;  
        min-height: 50px;
        margin-bottom: 20px;  
        align-items: center;
        justify-content: center;
        border-radius: 5px; 
        cursor: pointer;
        position: relative;
        padding: 10px;
        h3{
                padding: 5px;
        }
        button{
                float: right;
                margin-right: 5px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(129, 126, 126);
                padding: 8px;
                line-height: 15px;
        }
        button:hover{
                color: rgb(117, 32, 255);    
        }
        
        
}
.TaskItem:hover{
                background-color: rgba(125, 122, 212, 0.251);
        }
.ContainerTaskItem{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 35px;
        flex-direction: column-reverse;
}