.NavBlock{
    min-width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    // height: inherit;
    height: calc(100vh - 100px);
    // background-color: rgb(255, 255, 255);
    box-shadow:  5px 0 5px -5px rgba(117, 32, 255, 0.7);
    gap: 20px;
    ul{
        list-style-type: none;
        align-items: center;
        li{
            cursor: pointer;
        }
      
    }
}
